* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Roboto';
    
}
h1 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 900
}
.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 60vw;
}
header, .sidebar, .article, footer {
    padding: 20px;
}
header {
    background-color: #313638;
    width: 100%;
    height: 17vh;
}
.sidebar {
    background-color: #F06543;
    width: 250px;
    min-height: 66vh;
}
.article {
    background-color: white;
    color: #313638;
    flex-basis: calc(100% - 250px);
    padding: 30px 12%;
}
.line {
    margin: 2px 0 15px 0;
    height: 3px;
    width: 100%;
    background-color: lightgray;
}
footer {
    background-color: #B3B3B3;
    height: 17vh;
    flex-basis: 100%;
}

@media (max-width: 1150px) {
    .container {
        flex-direction: column;
        width: 100vw;
    }
    .sidebar {
        width: 100%;
        min-height: initial;
        max-height: 12vh;
    }
    .article {
        flex-grow: 1;
    }
}